/*General*/

*  {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
}

/*Header*/

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1% 12% 0 12%;
}

.container nav ul {
    display: flex;
}

.container nav ul li {
    list-style: none;
    margin: 0 10px;
    color: lightgray;
}

h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

header .container .header-content p {
    color: #e5e7eb;
}

.header-content{
    flex: 1 1 0;
    margin-right: 20px;
}

.header-image {
    flex: 1.3 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 104, 104);
}

.header-content button {
    margin-top: 10px;
    padding: 7px 23px;
    background-color: rgb(57, 113, 244);
    color: white;
    border-radius: 10px;
}

/*Main*/

main {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.main-content {
    width: 160px;
    text-align: center;
    margin: 40px 20px 10px 20px;
}

.main-image {
    width: 160px;
    height: 160px;
    border: 3px solid #3882f6;
    border-radius: 10px;    
}

.main-image-subtext {
    color: gray;
}

/*Quote Section*/

.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 10% 20%;
    color: #1F2937;
}

.quote blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote cite {
    align-self: flex-end;
    font-size: 26px;
    font-weight: bold;
}

/*Sign-up Section*/

